

.list_carousel1 {
}
.list_carousel1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel1 li {
    color: #999;
    text-align: center;
    border: 5px solid #999;
    width: 135px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}
.list_carousel1.responsive {
    width: auto;
    margin-left: 0;
}




.list_carousel2 {
    width: 360px;
}
.list_carousel2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel2 li {
    text-align: center;
    border: 5px solid #999;
    width: 135px;
    height: 135px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}
.list_carousel2.responsive {
    width: auto;
    margin-left: 0;
}

.clearfix {
    float: none;
    clear: both;
}
.prev {
    float: left;
    margin-left: 10px;
}
.next {
    float: right;
    margin-right: 10px;
}
.pager {
    float: left;
    width: 300px;
    text-align: center;
}
.pager a {
    margin: 0 5px;
    text-decoration: none;
}
.pager a.selected {
    text-decoration: underline;
}
.timer {
    background-color: #999;
    height: 6px;
    width: 0px;
}